@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
.Results__row {
  width: 80%;
  margin: 0.3em auto;
}
.Results__YearSlider__row {
  width: 100%;
  justify-items: center;
  margin-bottom: 2em;
}
.Results__searchbar {
  background-color: #f2aa4cff;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  /* box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%); */
}
.Results__searchbar__end {
  width: 100%;
  margin-top: -2px;
}
.Results__searchbar__end img {
  transform: rotate(180deg);
  width: 100%;
  object-fit: cover;
}
.input__search {
  width: 95%;
  margin: 0.7em;
  border: none;
  padding: 0.7em 1em;
  font-size: 1.1em;
  font-weight: 500;
}
h1.ant-typography,
.ant-typography h1 {
  font-family: "Poppins", sans-serif;
  margin: 0 !important;
  color: #101820ff;
}
input {
  outline: none;
}
.Results__filters__options {
  width: 80%;
  display: flex;
  margin: 0 auto;
}
.ant-drawer-title {
  font-size: 2em !important;
  margin: 0.3em !important;
  text-align: center !important;
}
.Results__header {
  background-color: #f2aa4cff;
}
.Results__header__title {
  margin: 0.5em auto;
  text-align: center;
}
.Results__group {
  width: 90%;
  margin: 0 auto;
}
.Results__loading {
  width: 100%;
  margin: 5em auto;
  text-align: center;
}
.Results__loading img {
  width: 10em;
}
.ant-select-selector {
  height: auto !important;
}
.ant-select:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-search-input {
  margin: 2px -4px !important;
}

.ant-select-selector {
  margin: 5px !important;
  padding: 5px 10px !important;
  border-radius: 8px !important;
}

.ant-select-arrow {
  font-size: 15px !important;
  font-weight: bold !important;
  margin-right: 15px !important;
  margin-top: -8px !important;
  right: 7px !important;
}

.Filter__label {
  margin: 1em 0.7em;
  font-size: 1.1em;
  font-weight: 500;
  color: #101820ff;
}
.Filter__label span {
  font-size: 11px;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
.Filter__label__year {
  /* margin: 1em auto; */
  font-size: 1.1em;
  font-weight: 500;
  color: #101820ff;
}

.FilterOptions__make,
.FilterOptions__type {
  margin: 0.5em 1em;
}
.FilterOptions {
  width: 90%;
  margin: 0 auto;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  width: auto !important;
}

.YearSlider {
  width: 25em;
  margin: 2em auto;
  text-align: center;
}
.year__slider {
  text-align: center;
}

.ant-slider-step {
  background: #e0e0e0 !important;
}
.ant-slider-dot .ant-slider-dot-active {
  margin-top: -1px !important;
}
.ant-slider-track {
  background-color: transparent !important;
  height: 6px !important;
  margin-top: -1px !important;
  z-index: 1 !important;
}
.ant-slider-track:hover {
  background-color: transparent !important;
}
.ant-slider-handle {
  width: 20px !important;
  height: 20px !important;
  margin-top: -9px !important;
  z-index: 2 !important;
}
.ant-slider-dot {
  margin-top: -1px !important;
  width: 10px !important;
  height: 10px !important;
  border: 1px solid #101820ff !important;
}
.ant-slider-handle {
  border: 1px solid #101820ff !important;
}
.ant-slider-mark-text {
  color: #111 !important;
}

.card__error__filter {
  background-color: #fff;
  width: 20em;
  font-size: 1em;
  color: #111;
  margin: 1.5em auto;
  padding: 1em;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: transform 0.45s;
}

.card__error__filter:hover {
  transform: scale(1.1);
  transition: transform 0.45s;
}
.card__error__filter {
  width: 25em !important;
  text-align: center;
  background-color: #fefcfc;
}
.card__error__img__filter {
  width: 70%;
}

@media screen and (min-width: 1150px) {
  .Results__searchbar__end {
    margin-top: -2em;
  }
}
