.YearSlider {
  width: 25em;
  margin: 2em auto;
}
.year__slider {
  text-align: center;
}

.ant-slider-step {
  background: #e0e0e0 !important;
}
.ant-slider-track {
  background-color: #2196f3 !important;
  height: 6px !important;
  margin-top: -1px !important;
  z-index: 1 !important;
}
.ant-slider-handle {
  width: 20px !important;
  height: 20px !important;
  margin-top: -9px !important;
  z-index: 2 !important;
}
.ant-slider-dot {
  width: 10px !important;
  height: 10px !important;
  border: 1px solid #e0e0e0 !important;
}
