body {
  overflow-x: hidden;
}
.App__header {
  background-color: #f2aa4cff;
}
.App__header__title {
  margin: 0.5em auto;
  text-align: center;
}
.App__search {
  text-align: center;
}
.image {
  text-align: center;
  width: 100%;
}
img {
  width: 25em;
}
